
.body {
  overflow: scroll;
  display: flex;
  justify-content: center;
}

.home {
  height: 100%;
  &:global(.ant-row) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}