.row {
  position: relative;
  width: 100%;
  max-height: calc(100vh - 64px);
  padding: 8px 8px 0 8px;
  box-sizing: border-box;
  overflow: scroll;

  @media screen and (max-width: 575px) {
    max-height: calc(100vh - 120px);
  }

  .list {
    width: 100%;
    min-height: calc(100vh - 136px);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 8px;
  }
}
.span {
  position: sticky;
  bottom: 22px;
  background: #f1f2f5;
}

.after {
  position: sticky;
  bottom: 0;
  background: #f1f2f5;
  height: 22px;
  padding-left: 8px;
  display: flex;
  align-items: center;
}

.typing {
  background: #f1f2f5;
  font-size: 10px;
  font-weight: 600;
  color: #a6a6a6;
  height: 14px;
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 0 0 rgba(0,0,0,0.24), 0 0 0 rgba(0,0,0,0.24);
}
.button {
  position: absolute;
  bottom: 2px;
  left: calc(100% - 56px);
  z-index: 4;
}
.text {
  width: 100%;
  border-radius: 8px;
  border: 1px solid lightgray;
  height: 400px;
}

.textM {
  font-size: 13px;
  line-height: 18px;
  align-self: center;
}

.chatRow {
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  .suffix {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 4px;
  }

  svg {
    cursor: pointer;
  }

  &.left {
    justify-content: flex-start;
  }

  .isDeleted {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
    padding-right: 8px;
    font-size: 12px;
  }

  &.right {
    justify-content: flex-end;
    .chat, .isDeleted {
      background-color: #dce1e8;
    }
  }
  .chat {
    padding: 8px;
    max-width: 85%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    min-width: 132px;
    display: flex;
    justify-content: space-between;
  }
  .time {
    display: flex;
    justify-content: flex-end;
    color: #a6a6a6;
    font-size: 11px;
    line-height: 16px;
    //margin-top: -16px;
  }
}
.date {
  box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
  padding: 0 4px;
  border-radius: 4px;
  font-size: 12px;
  background: #dce1e8;
}
.menu {
  &:global(.ant-dropdown-menu) {
    border-radius: 8px;
    :global(.ant-dropdown-menu-item) {
      padding: 4px 8px;
      &.delete {
      color: #ff7875;
    }
    }
  }
}

.threadDrawer {
  :global(.ant-drawer-body) {
    position: relative;
    padding: 0 16px;
    background: #f1f2f5;
  }
  .btn {
    &:global(.ant-btn-primary) {
      color: white;
      background: #0050c8;
      padding: 0 8px;
      height: 24px;
      border-radius: 8px;
      font-size: 12px;
    }
  }
  .threadList {
    overflow: scroll;
    padding: 8px;
  }
  .span {
    bottom: 0;
    padding-bottom: 16px;
  }
}

.edit {
  :global(.ant-btn) {
    border-radius: 8px;
    margin-top: 8px;
    height: 24px;
    margin-right: 8px;
    padding: 0 8px;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid lightgrey;
    color: rgba(0,0,0,0.65);
    &:hover, &:focus {
      border: 1px solid lightgrey;
      color: rgba(0,0,0,0.65);
    }
    &:global(.ant-btn-primary) {
      background: #0050c8;
      color: white;
    }
  }
}

.edited {
  font-size: 10px;
  color: rgba($color: #1d1d1d, $alpha:0.5);
}
.head {
  display: flex;
  align-items: center;
  height: 64px;
  background: #f1f2f5;
  padding-top: 8px;
  padding-bottom: 8px;
  position: sticky;
  top: 0;
  justify-content: space-between;
}

.message {
  position: sticky;
  top: 64px;
  background: #f1f2f5;
  border: 1px solid lightgray;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.modal {
  :global(.ant-modal-content) {
    border-radius: 8px;
  }
  :global(.ant-modal-header) {
    padding: 16px;
    border-radius: 8px 8px 0 0;
  }
  :global(.ant-modal-close-x){
    height: 32px;
    width: 32px;
    line-height: 32px;
  }
  :global(.ant-modal-body){
    padding: 16px;
  }
}
