.header {
  &:global(.ant-layout-header) {
    background: #f6f6f6;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.14), 0 0 2px 2px rgba(0, 0, 0, 0.098), 0 0 5px 1px rgba(0, 0, 0, 0.084);
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 36px;
  }

  .title {
    font-size: 20px;
    color: #1d1d1d;
  }

  .icons {
    display: flex;
    justify-content: flex-end;
  }
}

.menu {
  &:global(.ant-dropdown-menu) {
    width: 240px;
    border-radius: 8px;
    :global(.ant-dropdown-menu-item) {
      font-size: 16px;
      color: #1d1d1d;
      padding: 8px 16px;
      line-height: 24px;
      width: 240px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-transform: capitalize;
      a {
        color: inherit;
      }
    }
  }
}