.drawer {
  :global(.ant-drawer-body) {
    background: #001429;
    padding: 0;
  }
}

.row {
  &:global(.ant-row) {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 216px;
    @media screen and (max-width:575px) {
      align-items: center;
    }
    .name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;
      width: 200px;
      padding: 0 16px;
      .input {
        width: 100%;
        outline: none;
        border-radius: 8px;
        background-color: transparent;
        padding: 4px 8px;
        height: 32px;
        font-weight: 400;
        color: white;
        border: 1px solid #001429;
      }
      :global(.ant-typography) {
        color: white;
        font-weight: 400;
    }
    }
  }
  .text {
    font-size: 16px;
    font-weight: 400;
    color: white;
    width: 320px;
    text-align: center;
    margin-top: 8px;
  }
  padding: 16px;
}

.menu {
  :global(li.ant-menu-item.ant-menu-item-selected) {
      background: #0050c8;
    &:hover {
      background: #0050c8;
    }
    }
  :global(li.ant-menu-item) {
    font-size: 12px;
    &:hover {
      background: rgba(#0050c8, 0.3);
    }
  }

  li {
    display: flex;
    align-items: center;
    :global(.ant-typography){
      line-height: 32px;
    }
  }
}

.projects {
  width: 100%;
}

.bordered {
  padding: 1px;
  width: 100%;
  margin: 16px;
background-color: #106cc8;
}

.avatar {
  &:global(.ant-avatar) {
    border: 2px solid white;
    font-size: 75px;
    font-weight: bold;
    background: #106cc8;
    cursor: pointer;
  }
  :global(.ant-avatar-string) {
    text-transform: uppercase;
  }
}